.header-wrapper {
  height: 80px;
  width: 100%;
  display: flex;
  background: #0646a6;
  padding: 0 50px;
  align-items: center;
  justify-content: center;

  &__left {
    width: 50%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;

    &__search {
      height: 35px;
      width: 500px;
      background: #3a6bb7;
      text-indent: 10px;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      padding: 0 20px;

      & input {
        background: none;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        color: #fff;

        &::placeholder {
          color: #cdcdcd;
        }
      }
    }
  }

  &__logo {
    font-size: 16px;
    color: white;
    cursor: pointer;
  }

  &__action-buttons {
    display: flex;
    margin-left: auto;
    gap: 10px;

    &__quote {
      background: none;
      border: 1px solid #fff;
      border-radius: 4px;
      color: #fff;
      height: 40px;
      width: 140px;
    }

    &__book {
      background: #5bc684;
      border: 1px solid #5bc684;
      border-radius: 4px;
      color: #fff;
      height: 40px;
      width: 140px;
    }
  }
}
